body {
    margin: 0;
    background-color: black;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 64px;
    text-align: center;
    letter-spacing: 4px;
    color: white;
}

.main-wrapper {
    padding: 20px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;

}

.imgbox {
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}

.imgbox:hover {
    opacity: 0.5;
}

#fullImgContainer {
    padding-left: 20px;
    background-color: black;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    
}

.fullImg {
    max-width: 50%;
    max-height: 50%;
}

.img-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon-container {
    padding-top: 100px;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: start;
}

.arrow-container {
    width: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

.icon {
    width: 40px;
    cursor: pointer; 
}

.icon:hover {
    transform: scale(1.1);
}

.close-icon {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    padding: 100px;
}

.d-none {
    display: none;
}


@media screen and (max-width: 1040px) {

    .arrow-container {
        width: 700px;
    }

}


@media screen and (max-width: 980px) {

    #fullImgContainer {
        padding-left: 20px;
    }

}

@media screen and (max-width: 780px) {
    .arrow-container {
        width: 550px;
    }
}

@media screen and (max-width: 650px) {
    .arrow-container {
        width: 400px;
    }

    .icon {
        width: 20px;
    }

    .icon-container {
        padding-top: 150px;
    }
    
    .imgbox {
        width: 300px;
    }

    .close-icon {
        padding: 50px;
    }
}

@media screen and (max-width: 500px) {

    h1 {
        font-size: 32px;
    }

    .arrow-container {
        width: 350px;
    }

    .icon {
        width: 20px;
    }

    .icon-container {
        padding-top: 200px;
    }

    #fullImgContainer {
        padding-left: 0;
    }

    .imgbox {
        width: 200px;
        height: 200px;
    }
}


@media screen and (max-width: 380px) {

    .arrow-container {
        width: 250px;
    }
}


